.container{
    border-top: 1px solid white;
    padding: 36px;
}
.container>p:nth-child(1){
    font-size: 40px;
    color: white;
    font-weight: 700;
    
}
.container>p:nth-child(2){
    color: #68e0cf;
    font-size: 10px;
    font-weight: 700;
}
.container>div{
    display: flex;
}
.container>div>div{
    flex:1;
}
.container>div>div:nth-child(1)>p{
    font-weight: 700;
    color: white;
    font-size: 10px;
    margin-top: 10px;
}
.container>div>div:nth-child(1)>input,.container>div>div:nth-child(1)>textarea{
    background-color: #373B40;
    border: none;
    border:1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 5px;
}
.container>div>div:nth-child(1)>textarea{
   height: 20vh;
}
.container>div>div:nth-child(1)>p:last-child{
    display: flex;
    align-items: center;   
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    max-width: fit-content;
    margin-top: 20px;
}
.container>div>div:nth-child(1)>p:last-child:hover{
    background-color: white;
    color:#373B40;
}
.container>div>div:nth-child(2){
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    color: white;
    font-size: 12px;
}
.container>div>div:nth-child(2)>p:nth-child(1){
    font-weight: 700;
    font-size: 16px;
}
.container>div>div:nth-child(2)>p:nth-child(2){
    color: #68e0cf;
    font-size: 10px;
    font-weight: 700;
    padding: 10px 0;
}
@media screen and (max-width:800px) {
    .container>p:nth-child(1){
        text-align: center;
    }
    .container>p:nth-child(2){
        text-align: center;
    }
    .container>div{
        flex-direction: column;
    }
    .container>div>div{
        padding: 20px 0;
    }
}