.container{
    padding: 36px;
    padding-top: 30vh;

    height: 100vh;
}
.container>p:nth-child(1){
    color: white;
    font-weight: 700;
    font-size: 56px;
}
.container>p:nth-child(2){
    color: #68e0cf;
    font-size:9px;
    font-weight: 700;
    margin: 20px 0;
}
.container>p:nth-child(3){
    font-size: 9px;
    width: 50%;
    color: white;
}
.container>div:last-child{
    display: flex;
    color: white;
    align-items: center;
    margin: 40px 0;
}
.container>div:last-child>p:nth-child(1){
    display: flex;
    align-items: center;   
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
.container>div:last-child>p:nth-child(1):hover{
    background-color: white;
    color:#373B40;
}
.container>div:last-child>a>svg{
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    font-size: 30px;
    margin: 0 20px;
    margin-top: 3px;
    animation: scroll 1s linear infinite;
}
@keyframes scroll {
    0%{
        padding-top: -10px;
    }
    100%{
        padding-top: 10px;
    }
}
.container>div:last-child>a>svg:hover{
    border-color: #68e0cf;
    color: #68e0cf;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .container{
        padding-top: 36px;
        text-align: center;
        height: fit-content;
    }

    .container>p:nth-child(1){
        color: white;
        font-weight: 700;
        font-size: 36px;
    }
    .container>p:nth-child(3){
        width: 100%;
        padding: 20px;
    }
    .container>div:last-child{
        justify-content: center;
    }
    
}